@use "../utils/variables";
#about {
   background-color: variables.$bg-color;
   display: flex;
   flex-direction: column;
   align-items: center;
   .title {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   p {
      padding-bottom: 5rem;
      text-align: justify;
   }
   .img {
      width: 40%;
   }
   .line {
      height: 3px;
      width: 30%;
      background-color: variables.$white-color;
   }
}
@media (max-width: 1024px) {
   #about {
      .img {
         width: 100%;
      }
      p {
         text-align: justify;
         padding-bottom: 2rem;
      }
   }
}
